extends layout

block content

    h3 Custom Text Messages
    form(method='POST', action='/submitcus')
       p
       p
       .row
           .col-md-1
           .col-md-10.card.box
               .cp * Denotes Required Fields
           .col-md-1
       p
       .row
            .col-md-1
            .col-md-2.card.box
                .cp * Message
            .col-md-9.card.box
                input(name='txtCustomMsg', type='text', value=customMsg, placeholder='-your message-')
       p
       .row
            .col-md-1
            .col-md-2.card.box
                .cp Message From Group
            .col-md-6.card.box
                select(name='txtFromGroup', size='0', value=fromGroup)
                    option(value='Fresh Start') Fresh Start
                    option(value='Social Services') Social Services
                    option(value='Family Law') Family Law
            .col-md-3
       p
       .row
            .col-md-1
            .col-md-2.card.box
                .cp From Name
            .col-md-6.card.box
                input(name='txtCustomFrom', type='text', value=customFrom, placeholder='-additional from-')
            .col-md-3
       p
       .row
            .col-md-1
            .col-md-2.card.box
                .cp * Message Callback Number
            .col-md-6.card.box
                input(name='txtCallback', type='number', value=callback, placeholder='-callback number-')
            .col-md-3
       p
       .row
            .col-md-1
            .col-md-2.card.box
                .cp * Client's Phone Number
            .col-md-2.card.box
                input(name='txtClient', type='number', value=clientcell, placeholder='-clients phone number-')
            .col-md-7
       p
       .row
            .col-md-1
            .col-md-1.card.box
                button#btnSubmitCus.btn.btn-info Submit
            .col-md-10

    form(method='GET', action='/home')
       button#btnHome.btn.btn-default back

