extends page_layout2

block content
    if user
        .container
            h1 #{title}
            br
            form(id="txtForm" role='form' method='POST' action='/reminders/preview')
                .form-group
                    label(for='txtStdRmndr') Standard Reminder:
                    select.form-control(class='mlen' name="txtStdRmndr" size="0")
                        option(disabled='', selected='', value='')  -- Select a Reminder Message --
                        each reminderdd, i in reminderdds
                            option(value=reminderdd.name) #{reminderdd.name}
                .form-group
                    label(for='txtCstmRmndr') Personalized Message:
                    textarea.form-control(class='mlen' cols='60' name='txtCstmRmndr' placeholder='')
                .form-row.col-sm-3
                    .form-group
                        label(for='txtApptDate') Appointment Date:
                        input.form-control(name='txtApptDate' type='date' required)
                .form-row.col-sm-3
                    .form-group
                        label(for='txtApptTime') Appointment Time:
                        input.form-control(name='txtApptTime' type='time' value='09:00:00' step='900' required)                            
                .form-group
                    label(for='txtCustomFrom') From:
                    input.form-control(class='mlen' name='txtCustomFrom' type='text' placeholder='')
                .form-group
                    label(for='txtFromGrp') Workgroup:
                    select.form-control(class='mlen' name='txtFromGrp', size='0' required)
                        option(disabled='', selected='', value='')  -- Select a Workgroup --
                        each groupdd, i in groupdds
                            option(value=groupdd.name) #{groupdd.name}
                .form-row.col-sm-3
                    .form-group
                        label(for='txtClient1') Client Phone Number:
                        input.form-control(name='txtClient1' type='number' placeholder='' min='2002000000' max='9999999999' required)
                .form-row.col-sm-3
                    .form-group
                        label(for='txtCallback') Employee Phone Number:
                        input.form-control(name='txtCallback', type='number' placeholder='' min='2002000000' max='9999999999' required)
                br
                .form-row
                    .form-group
                        input.btn.btn-info.btn-fswf1(type="submit", value="Preview/Send")
                .form-row
                    .form-group
                        button.btn.btn-info.btn-fswf2.clrForm(type="button") Reset Form
            br
